{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product name</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/product.css' %}">

</head>
<body>
    <nav>
        <div class="logo">
            <img src="" alt="Logo">
        </div>
        <form action="" method="GET">
            <div class="search-container">
                <input type="text" name="query" placeholder="Search...">
                <button type="submit">Search</button>
            </div>
        </form>
        <ul>
            <a href="#"><li>Page principal</li></a>
            <a href="#"><li>Panier</li></a>
            <a href="#"><li>Ajouter un Produit</li></a>
            <a href="#"><li>Profile</li></a>
            
        </ul>
    </nav>

    <div class="product">
        <div class="infos">
            <div class="title">
                {{product.name}}
            </div>  
            <div class="description">
                <h1>Description:</h1>
                <p>{{product.description}}</p>
            </div>
            <div class="seller">
                 Seller : {{product.seller}} 
                <br>
                <a href="#">profile of the seller</a>  
            </div>
        </div>
        <div class="images">
            <div class="main">
                <div id="slideL" class="sliders">&#11164;</div>
                <img src="1024.png" alt="">
                <div id="slideR" class="sliders">&#11166;</div>
            </div>
            <div class="slideshow" hidden>
                {% for image in images %}
                    <img src="{{ image.image.url }}" class="slide">
                    <img src="/media/images/pic1.jpg" class="slide">
                    <img src="/static/images/pic1.jpg" class="slide">
                    <img src="{% static 'images/pic2.jpg' %}" class="slide" >
                    <img src="{% static 'images/pic3.jpg' %}" class="slide">
                    <img src="{% static 'images/pic4.jpg' %}" class="slide">
                {% endfor %}    
            </div>
        </div>
    </div>

    <script src="{% static 'scripts/script.js' %}"></script>
</body>
</html>