{% load static %}
{% load customtags %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceuil</title>
    <link rel="stylesheet" href="{% static 'mangalib/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-lr2ezfoIVYJJo2Ia7eT5XpObvqewMKlWGkzG+9cXl+x6/25h7RGT1prwUf7+qDBywF3qm0UgQ2p9eb7xqWwhMw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="../../../static/mangalib/js/produit.js"></script>
</head>
    
</head>
<header>
    <nav>
        <ul>
            <li></li>
            <li>Contact</li>
            <li>à propos</li>
            <li>Se connecter</li>
        </ul>
    </nav>
</header>
<body>
    <main class="auth-container">
        <section class="connect-container">
            <h1>Connexion</h1>
            <p class="text">Si vous êtes déjà membre (ou votre inscription est en cours)</p>
            <form action="">
                <p>Adresse e-mail</p>
                <p><label for=""><input type="text" placeholder="Votre adresse e-mail"></label></p>
                <p>Mot de passe</p>
                <p><label for=""><input type="text" placeholder="votre mot de passe"></label></p>
                <p><input type="checkbox"> Rester connecté</p>
            
                    <input type="submit" value="Se connecter" class="log">
                    <a href="">Mot de passe oublié ?</a>
       
             
             
            </form>
        </section>
    
        <section class="submit-container">
            <h1>Inscription</h1>
            <p class="text">Créer votre compte rapidement</p>
            <form action="">
                <div class="info-user-container">
                    <p>Prénom</p>
                    <p>Nom</p>
                </div>
               
        
                <input type="text" name="family_name" class="info-input" placeholder="Votre prénom">
                <input type="text" name="name" placeholder="Votre nom">

                <div class="info-user-container-pwd">
                    <p>Adresse e-mail</p>
                    <p>Mot de passe</p>
                </div>

                <input type="text" class="info-input" name="email" placeholder="Votre adresse email">
                <input type="text" name="password" placeholder="Votre mot de passe">


                <p>Numéro de téléphone</p>
                <input type="text" class="info-input" placeholder="Votre numéro de téléphone">

                <p class="space">En vous inscrivant, vous acceptez les conditions générales d'tilisation et la politique de confidentialité de BoutiqueXPress.</p>
                <div class="info-user-container">
                    <p> <input type="checkbox" >
                    Je participe à l'aventure BoutiqueXPress.</p>
                </div>
                <div class="container-btn-forgetpwd">
                    <input type="submit" value="S'inscrire" class="sub">
                </div>
              

                
        
            </form>
        </section>
        
    </main>
</body>


{% include 'mangalib/includes/end_page.htm' %}
