<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>
    <div class="container home">
        <div class="tab-pane fade">
            <!-- Contenu de l'onglet "Informations générales" -->
            <div class="profile-picture">
                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Profile Picture">
                <form method="post" enctype="multipart/form-data" action="{% url 'uploadProfilePicture' %}">
                    {% csrf_token %}
                    <input type="file" name="profile_picture">
                    <button type="submit">Modifier la photo de profile</button>
                </form>
            </div>
            <div class="profile-details">
                <h2>Informations générales</h2>
                <div class="profile-info">
                    <p><strong>Nom de famille:</strong> {{ customer_info.firstname }}</p>
                    <p><strong>Prénom:</strong> {{ customer_info.lastname }}</p>
                    <p><strong>Numéro de téléphone:</strong> {{ customer_info.phonenumber }}</p>
                    <p><strong>Adresse:</strong> {{ customer_info.adress }}</p>
                    <p><strong>Email:</strong> {{ customer_info.email }}</p>
                    <p><strong>Description:</strong> {{ customer_info.description }}</p>
                </div>
            </div>
        </div>

        <button><a href="{% url 'editProfile' %}">Modifier le profile</a></button>
        <button><a href="{% url 'updatePassword' %}">Modifier le mot de passe</a></button>
        <button><a href="{% url 'deconnexion' %}">Déconnexion</a></button>
    </div>
</body>
</html>